  body {
    -webkit-user-select: none;
    /* user-select -- это нестандартное свойство */

    -moz-user-select: none;
    /* поэтому нужны префиксы */

    -ms-user-select: none;
  }


/******************************************************
                         JSPLUMB 
******************************************************/
#toast-container {
    margin-top: 70px;
}  

#toast-container .toast-warning {
  background-color: #E26A6A!important;
}


/******************************************************
                         JSPLUMB 
******************************************************/

._jsPlumb_connector:hover { 
  z-index:3000;
}

._jsPlumb_connector{ 
  cursor:pointer;
  z-index:3000;
}

._jsPlumb_drag_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

/*._jsPlumb_target_hover, .widget_target_hover {
  box-shadow: 0px 0px 3px rgb(224,218,46) !important;
}

._jsPlumb_source_hover {
  box-shadow: 0px 0px 3px rgb(225,225,225) !important;
}*/

/******************************************************
                         STYLE 
******************************************************/

.w{
  position:absolute;
  display: flex;
  /*  width: 200px; 
    height: 100px;*/
}

.page-sidebar-menu li ul li a {
  cursor: url('path-to-image.png'), auto;

}

.nodroper{
  background-color: #E5E5E5!important;
}

.dragitem{
  cursor: pointer!important;
}

.sector, .anl_sector{
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #5C9BD1;
    top: 0px;
    right: 0px;
    border-radius: 0px 4px 4px 0px;
}

.anl_sector{
    background-color: #26C281;
}

.block{
    position: relative;
    width: 90px;
    height: 90px;
    background-color: #4C87B9;
    border-radius: 5px;
    cursor: default;
}

.block .ic{
    position: absolute;
    font-size: 95px;
    left: 0px;
    color: #5C9BD1;
    opacity: .3;
    overflow: hidden;
    top: 0px;
    width: 100%;
    height: 100%;
}

.block .ic i{
    position: absolute;
    left: -15px;
    bottom: 15px;
}

.block h4{
    right: 0px;
    position: relative;
    left: 10px;
    top: 0px;
}

.block h4, .block h6{
  color: #FFF;
}

.block h6{
  position: relative;
  top: -10px;
  left: 10px;
}
.w .range{
    position: absolute;
    width: 120px;
    left: 13px;
    top: 50px;
}

.irs-grid-text {
    color: #fff!important;
}

.w .inps{
    position: absolute;
    bottom: 13px;
    width: 125px;
    left: 12px;
}

.mt-checkbox, .mt-radio {
    margin-bottom: 5px;
    padding-left: 22px;
}

.progressbar{
    position: absolute;
    bottom: 0px;
    height: 9px;
    overflow: hidden;
    border-radius: 0px 0px 5px 5px;
    /* width: 70px; */
    /* left: 9px; */
}

.navbar-collapse{
  z-index: 9999;
}